<div class="side-bar">
    <h3>Filter Musicians</h3>
    <form (submit)="filterMusicians()">
        <h5>Location</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chicago">
            <label>Chicago</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="New York">
            <label>New York</label>
        </div>
        <h5>Instrument</h5>
        <button type="button" class="accordion" data-toggle="collapse" data-target="#woodwinds">Woodwinds<span>+</span></button>
        <div class="panel collapse" id="woodwinds">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="All">
                <label>All</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Flute">
                <label>Flute</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Clarinet">
                <label>Clarinet</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Oboe">
                <label>Oboe</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Bassoon">
                <label>Bassoon</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Saxophone">
                <label>Saxophone</label>
            </div>
        </div>

        <button type="button" class="accordion" data-toggle="collapse" data-target="#brass">Brass<span>+</span></button>
        <div class="panel collapse" id="brass">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="All">
                <label>All</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Trumpet">
                <label>Trumpet</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Trombone">
                <label>Trombone</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Horn">
                <label>Horn</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Tuba">
                <label>Tuba</label>
            </div>
        </div>

        <button type="button" class="accordion" data-toggle="collapse" data-target="#percussion">Percussion<span>+</span></button>
        <div class="panel collapse" id="percussion">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="All">
                <label>All</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Marimba">
                <label>Marimba</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Timpani">
                <label>Timpani</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Auxiliary">
                <label>Aux.</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Drumset">
                <label>Drumset</label>
            </div>
        </div>
        <button type="button" class="accordion" data-toggle="collapse" data-target="#strings">Strings<span>+</span></button>
        <div class="panel collapse" id="strings">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="All">
                <label>All</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Violin">
                <label>Violin</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Viola">
                <label>Viola</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Cello">
                <label>Cello</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="String Bass">
                <label>String Bass</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Accoustic Guitar">
                <label>Accoustic Guitar</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Electric Guitar">
                <label>Electric Guitar</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Banjo">
                <label>Banjo</label>
            </div>
        </div>
        <button type="button" class="accordion" data-toggle="collapse" data-target="#keyboard">Keyboard<span>+</span></button>
        <div class="panel collapse" id="keyboard">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="All">
                <label>All</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Piano">
                <label>Piano</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Organ">
                <label>Organ</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Synthesizer">
                <label>Synthesizer</label>
            </div>
        </div>
        <button type="button" class="accordion" data-toggle="collapse" data-target="#vocal">Vocal<span>+</span></button>
        <div class="panel collapse" id="vocal">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="All">
                <label>All</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Soprano">
                <label>Soprano</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Alto">
                <label>Alto</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Tenor">
                <label>Tenor</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Bass">
                <label>Bass</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Jazz">
                <label>Jazz</label>
            </div>
        </div>
        <button type="button" class="accordion" data-toggle="collapse" data-target="#other">Other<span>+</span></button>
        <div class="panel collapse" id="other">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="All">
                <label>All</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Conductor">
                <label>Conductor</label>
            </div>
        </div>
        <h5>Years of Experience</h5>
        <div class="slidecontainer">
            <p>Over {{ Filter.years }} year(s):</p>
            <input type="range" min="1" max="25" class="slider" name="Years" [(ngModel)]="Filter.years">
        </div>
        <input type="submit" class="btn btn-warning" value="Filter">
    </form>
</div>
<div class="musicians">
    <form class="search-bar" (submit)="filterMusicians()">
        <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="Search by name..." name="Name" [(ngModel)]="Filter.name">
            <div class="input-group-append">
                <input type="submit" class="btn btn-success" value="Search">
            </div>
        </div>
    </form>
    <div *ngFor="let musician of Musicians" class="musician">
        <div class="left">
            <div class="image-cropper" [ngStyle]="{ 'background-image': 'url(' + musician.imageUrl + ')'}"></div>
        </div>
        <div class="description">
            <h2><a [routerLink]="['/profile', musician.id]">{{ musician.musicianName }}</a></h2>
            <div class="offset">
                <h5>{{ musician.location }}</h5>
                <h5>Instruments:</h5>
                <ul>
                    <li *ngFor="let inst of musician.instruments">{{ inst.name }}, {{ inst.family }}</li>
                </ul>
            </div>
        </div>
        <div class="actions">
            <a class="btn btn-primary" [routerLink]="['message', musician.id]">Message</a>
            <a class="btn btn-success" [routerLink]="['request', musician.id]">Request</a>
        </div>
    </div>
</div>