.profile {
    background-color: white;
    padding: 3% 5%;
    width: 70%;
    margin: 5% auto;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
}

.image-cropper {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background-size: cover;
}

.left {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

.right {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding: 2% 10%;
}

.btn {
    width: 35%;
}

.btn-danger {
    margin-left: 5%;
}

.text-muted {
    display: block;
}