<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to GigBook!</h1>
        <p class="lead">The popular booking site for hiring musicians</p>
    </div>
</div>
<div class="info">
    <h2>Because everyone could use a little music</h2>
    <p>GigBook is a user friendly booking website that promotes local musicians. Our algorithms are designed to give starting musicians a boost while providing our clients with music they will love.</p>
</div>

<h2>Featured Musicians:</h2>
<!-- A list of musicians that are just starting out -->